/*------- header section -------*/
.header {
	// height: 7rem;
	//display: flex;
	align-items: center;
	//position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background: var(--bg11);
	z-index: 9;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease;
	// padding-top: 5px;
}

.header-hidden {
  transform: translateY(-100%);
}

.header-scrolled {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.header {
	background: var(--bg14);
	// height: 5.25rem;
	box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.06);
	display: block;
	position: fixed;
	transition: transform 400ms ease-in-out;
	z-index: 999;
}

.header.scroll_up {
	transform: translateY(-100%);
}



.header-fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
  }
  
  .header-scroll {
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .hide-header {
	transform: translateY(-100%);
	transition: transform 0.3s ease;
  }
  
  .hide-desktop-nav {
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;
  }
  

.header.scrolled {
	height: 5.25rem;
	box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.15);
	background: var(--bg14);
}

.header-ctn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.header-logo {
	display: block;
	position: relative;
	z-index: 5;
}

.header-logo img {
	// height: 72px;
	// width: auto;
	height: 70px;
}

// main menu
ul.main-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 5px;
}

ul.main-menu li {
	margin-right: 2rem;
}

ul.main-menu li:last-child {
	margin-right: 0;
}

ul.main-menu li a {
	display: block;
	color: var(--txt11);
	text-decoration: none;
	user-select: none;
	font-weight: normal;
	font-size: 1.1rem;
	transition: color 250ms ease;
}

.header-item {
	display: block !important;
	color: var(--txt11) !important;
	text-decoration: none !important;
	user-select: none !important;
	font-weight: normal !important;
	font-size: 1.2rem !important;
	transition: color 250ms ease !important;
}

ul.main-menu li a:hover,
ul.main-menu li a.active {
	color: var(--main-color);
}

// header 1
.header-1 ul.main-menu li {
	margin-right: 1.5rem;
}

.header-1 ul.main-menu li a {
	display: flex;
	position: relative;
}

.header-1 .main-menu-icon {
	margin-right: 0.5rem;
	font-size: 1.375rem;
	display: flex;
	align-items: center;
	position: relative;
	top: -2px;
}

.header-1 .main-menu-icon svg {
	font-size: 1.1rem;
}

@media only screen and (max-width: 1300px) {
	.header-1 .main-menu-icon {
		display: none;
	}
}

// header icons
ul.header-icons {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

ul.header-icons li {
	margin-left: 1rem;
}

ul.header-icons li:first-child {
	margin-left: 0;
}

ul.header-icons li a,
ul.header-icons li i {
	font-size: 1rem;
	color: var(--txt11);
	transition: color 250ms ease;
	cursor: pointer;
}

ul.header-icons li a:hover,
ul.header-icons li i:hover {
	color: var(--main-color);
}

.menu-divider {
	width: 1px;
	height: 1rem;
	background: #ddd;
	margin-left: 22px !important;
	margin-right: 6px;
}

ul.mobile-icons {
	display: none;
}

.menu-active {
	color: var(--main-color) !important;
}

// search modal
.search-modal-wrap {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	position: fixed;
	background: #fff;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}

.search-modal-wrap.active {
	opacity: 0.98;
	visibility: visible;
}

.search-modal {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	position: fixed;
	background: none;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
	transform: scale(0.95);
	transition: all 0.4s ease-in-out;
}

.search-modal.active {
	opacity: 0.98;
	visibility: visible;
	transform: scale(1);
}

.search-close {
	background: none;
}

form.search {
	padding: 0 0.5rem;
	//max-width: 90%;
	width: 70%;
	z-index: 9;
	position: relative;
}

form.search input[type="text"] {
	text-indent: 0.5rem;
	margin-bottom: 1.5rem;
	border-bottom: 1px solid #e1e1e1 !important;
	height: auto;
	font-size: 2rem;
	font-weight: bold;
	color: #252525;
	background: none;
	line-height: 1.8;
}

form.search input[type="text"]:focus {
	border-bottom-color: #e1e1e1 !important;
	box-shadow: none !important;
}

form.search p {
	color: #a0a0a0;
	font-size: 1.2rem;
}

form.search input[type="text"]::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #252525;
	opacity: 1; /* Firefox */
}

form.search input[type="text"]:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #252525;
}

form.search input[type="text"]::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #252525;
}

// mobile menu
.mobile-menu-root,
.mobile-menu {
	display: none;
}

// =============== new =================
.headline {
	background-color: #000000;
	color: #c6c0c0;
	padding: 5px 0;
}
.headline-title {
	margin-left: 10px;
	font-weight: 700;
}
.headline ul {
	padding-left: 10px;
}
.vwrap,
.vitem {
	overflow: hidden;
}
.vwrap,
.vitem {
	height: 30px;
	line-height: 30px;
}
.header .row {
	margin-bottom: 0;
}
.headline.row .col {
	padding-left: 0;
	padding-right: 0;
}
.headline svg {
	color: #ffd401;
}
.vmove {
	position: relative;
	// animation: 6s linear 1s infinite ticker;
	animation-name: tickerv;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(1, 0, 0.5, 0);
}
@keyframes tickerv {
	0% {
		bottom: 0;
	}
	25% {
		bottom: 30px;
	}
	50% {
		bottom: 60px;
	}
	75% {
		bottom: 90px;
	}
	100% {
		bottom: 120px;
	}
}
// @keyframes ticker {
// 	0% {
// 		transform: translateY(0%);
// 	}
// 	100% {
// 		transform: translateY(-50%);
// 	}
// }
.h-socials {
	display: flex;
	justify-content: flex-end;
}
.h-socials ul {
	display: flex;
}
.h-socials ul li a {
	font-size: 1rem;
	transition: all 250ms ease;
	width: 34px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000000;
	color: #bb0136;
	border-radius: 3px;
	margin-right: 6px;
}
.h-socials ul li a:hover {
	background-color: #ffffff;
}
.header .navbar {
	background-image: url("/img/bg/header-bg.jpg");
	background-size: contain;
}

// responsive
@media only screen and (max-width: 1200px) {
	.header.modal-active {
		padding-right: 0;
	}

	.header-ctn {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}

	ul.main-menu,
	ul.header-icons {
		display: none;
	}

	ul.mobile-icons {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 3;
	}

	.search-icon,
	.menu-burger {
		display: flex;
		background: var(--bg13);
		width: 2.75rem;
		height: 2.75rem;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		transition: all 250ms ease;
		cursor: pointer;
	}

	.search-icon i,

	.search-icon:hover {
		background: var(--main-color);
	}

	.search-icon:hover i,
	.menu-burger:hover i {
		color: #fff;
	}

	form.search input[type="text"] {
		margin-bottom: 1rem;
		font-size: 2rem;
	}

	form.search p {
		font-size: 1rem;
	}

	.header.modal-active {
		padding-right: 0;
	}

	.header-ctn {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}

	ul.main-menu,
	ul.header-icons {
		display: none;
	}

	ul.mobile-icons {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 3;
	}

	.search-icon,
	.menu-burger {
		display: flex;
		background: var(--bg13);
		width: 2.8rem;
		height: 2.8rem;
		margin-left: 1rem !important;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		transition: all 250ms ease;
		cursor: pointer;
	}

	.search-icon i,
	.menu-burger i {
		color: #93a1b3;
		font-size: 24px;
	}

	.menu-burger svg {
		color: #93a1b3;
		stroke-width: 3;
	}

	.search-icon:hover {
		background: var(--app-theme-color);
	}

	.menu-burger:focus,
	.menu-burger:focus-visible,
	.menu-burger:active {
		outline: none;
		background: var(--bg13);
	}

	.menu-burger:focus svg,
	.menu-burger:focus-visible svg,
	.menu-burger:active svg {
		color: #93a1b3;
	}

	form.search input[type="text"] {
		margin-bottom: 1rem;
		font-size: 2rem;
	}

	form.search p {
		font-size: 1rem;
	}

	// mobile menu
	.mobile-menu-root {
		display: block;
	}

	.mobile-menu {
		display: block;
		width: 100vw;
		height: 100vh;
		// height: 100%;
		max-width: 500px;
		padding: 30px 40px;
		min-height: 100vh;
		// min-height: 100%;
		background-color: #1f1f1f;
	}

	.m-menu-wrap {
		display: flex;
		flex-direction: column;
		width: 100%;
		// height: 100vh;
		// height: 100%;
		//min-height: 110vh;
		// justify-content: space-between;
		justify-content: flex-start;
	}

	.m-menu-ctn {
		width: 100%;
		margin-bottom: 40px;
	}

	.m-menu-top {
		margin-bottom: 15px;
		display: flex;
		justify-content: flex-start;
		padding: 0;
	}

	.m-menu-close {
		position: relative;
		width: 32px;
		height: 32px;
	}
	.m-menu-close span {
		width: 24px;
		height: 2px;
		background-color: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
	}
	.m-menu-close span:nth-child(1) {
		transform: translate(-50%, -50%) rotate(45deg);
	}
	.m-menu-close span:nth-child(2) {
		transform: translate(-50%, -50%) rotate(-45deg);
	}

	.m-menu-logo {
		max-width: 150px;
		display: block;
		height: 86px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.m-menu-logo img {
		width: initial;
		// height: 86px;
	}

	// .m-menu-title {
	// 	font-size: 1.25rem;
	// 	padding: 0 32px;
	// 	color: #202020;
	// 	margin-bottom: 1.25rem;
	// }

	ul.m-menu {
		display: block;
		padding: 5px 0;
	}

	ul.m-menu li {
		display: block;
		line-height: unset;
	}

	ul.m-menu li a,
	.m-sub-menu-label,
	ul.m-sub-menu li a {
		color: #fff;
		line-height: 36px;
		height: unset;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		transition: all 250ms ease;
		font-size: 30px;
		padding: 10px 0;
		font-weight: 400;
	}

	// ul.m-menu li a:hover {
	//   padding-left: 36px;
	//   color: var(--app-theme-color);
	//   background-color: rgba(0, 0, 0, 0.05);
	// }

	// ul.m-menu li a i {
	// 	margin-right: 0.75rem;
	// 	font-size: 1.25rem;
	// 	width: 1.5rem;
	// }

	ul.m-menu li svg {
		margin-right: 1rem;
		// font-size: 1.15rem;
	}

	// ul.m-menu li:nth-child(1) a i {color: #BE00A1;}
	// ul.m-menu li:nth-child(2) a i {color: #EADA70;}
	// ul.m-menu li:nth-child(3) a i {color: #39DECE;}
	// ul.m-menu li:nth-child(4) a i {color: #505AFF;}
	// ul.m-menu li:nth-child(5) a i {color: #F83A00;}
	// ul.m-menu li:nth-child(6) a i {color: #3B4FDB;}

	//ul.m-menu li:nth-child(1) a svg {color: #BE00A1;}
	//ul.m-menu li:nth-child(2) a svg {color: #EADA70;}
	//ul.m-menu li:nth-child(3) a svg {color: #39DECE;}
	//ul.m-menu li:nth-child(4) a svg {color: #505AFF;}
	//ul.m-menu li:nth-child(5) a svg {color: #F83A00;}
	//ul.m-menu li:nth-child(6) a svg {color: #3B4FDB;}
	//ul.m-menu li:nth-child(7) a svg {color: #39DECE;}
	//ul.m-menu li:nth-child(8) a svg {color: #F83A00;}

	hr.m-menu-hr {
		background: none;
		margin: 1rem auto;
		border: none;
		border-top: 1px solid #e2e8f0;
	}

	.m-menu-social {
		display: flex;
		flex-direction: column;
		padding: 5px 0;
	}

	.m-menu-social a {
		font-size: 14px;
		color: #fff;
		transition: color 250ms ease;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		line-height: 21px;
	}
	.m-menu-social a i {
		width: 24px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	// .m-menu-social a:hover {
	//   color: var(--app-theme-color);
	// }

	.m-menu-bottom {
		width: 100%;
		/* padding: 1rem 0rem 0.8rem 0rem; */
		z-index: 9;
		padding: 0;
		margin-bottom: 40px;
	}
	.m-menu-bottom h2 {
		font-size: 1.5rem;
		font-weight: 400;
		line-height: 1.334;
		letter-spacing: 0;
		color: #fff !important;
		font-weight: 500 !important;
	}

	.mobile-menu .footer-powered-by {
		margin: 0;
	}

	.m-menu-address {
		padding: 5px 0;
	}
	.m-menu-address p {
		font-size: 16px;
		color: #918f94;
		line-height: 19px;
		font-weight: 300;
	}

	// custom scrollbar
	.mobile-menu {
		overflow-y: auto !important;
		transition: all 250ms ease;
	}

	// firefox
	.mobile-menu {
		scrollbar-width: thin;
		// scrollbar-color: transparent transparent;
		scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
	}

	// .mobile-menu:hover {
	//   scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
	// }

	// chrome
	.mobile-menu::-webkit-scrollbar {
		width: 5px;
	}

	.mobile-menu::-webkit-scrollbar-track {
		box-shadow: none;
		background-color: var(--scrollbar-track);
	}

	.mobile-menu::-webkit-scrollbar-thumb {
		border-radius: 0;
		background-color: var(--scrollbar-thumb);
	}

	// .mobile-menu:hover::-webkit-scrollbar-thumb {
	//   background-color: var(--scrollbar-thumb);
	// }

	.m-sub-menu-wrap {
		display: flex;
		flex-direction: column;
	}
	.m-sub-menu-wrap .m-sub-menu-label {
		display: flex;
		justify-content: space-between;
	}
	.m-sub-menu-wrap .m-sub-menu-label span {
	}
	.m-sub-menu-wrap .m-sub-menu-label span i {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 18px;
		transition: transform 250ms ease-in-out;
	}
	.m-sub-menu-wrap .m-sub-menu-label.expand span i {
		transform: rotate(-180deg);
	}
	ul.m-sub-menu {
		display: flex;
		flex-direction: column;
		padding-left: 24px;
	}
	ul.m-sub-menu li {
		padding: 8px 0;
	}
	ul.m-sub-menu li a {
		line-height: 1.33;
		font-size: 18px;
		padding: 0;
		opacity: 0.8;
		text-decoration: underline;
	}
	ul.m-sub-menu li a.active {
		color: var(--app-theme-color);
	}
}
@media only screen and (max-width: 1024px) {
	.headline {
		display: none;
	}
}
@media only screen and (max-width: 768px) {
	.header-logo {
		height: 66px;
		padding: 4px 0;
	}
	.header-logo img {
		max-height: 60px;
	}
}
@media only screen and (max-width: 460px) {
	ul.m-menu li a,
	.m-sub-menu-label {
		font-size: 24px;
		line-height: 32px;
	}
	ul.m-sub-menu li a {
		font-size: 16px;
		line-height: 1;
	}
}
